{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}

<div class="card">
    <div class="card-body">
        <h3>Editar postagem</h3>
        <form action="/admin/postagens/create" method="post">
            <input type="hidden" name="id" value="{{postagem._id}}">
            <label for="titulo">Título: </label>
            <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}">
            <label for="slug">Slug: </label>
            <input type="text" name="slug" class="form-control" value="{{postagem.slug}}">
            <label for="categoria">Categoria: </label>
            <select name="categoria" class="form-select">
                <option value="{{categoriaAtual._id}}">{{categoriaAtual.nome}}</option>
                {{#each categorias}}
                    <option value="{{this._id}}">{{this.nome}}</option>
                {{else}}
                    <option value="0">Nenhuma Categoria Registrada</option>
                {{/each}}
            </select>
            <label for="descricao">Descrição: </label>
            <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}">
            <label for="conteudo">Conteúdo: </label>
            <textarea name="conteudo" class="form-control">{{postagem.conteudo}}</textarea>
            <button type="submit" class="btn btn-primary mt-3">Editar postagem</button>
        </form>
    </div>
</div>